body {
    display: flex;
    justify-content: center;
}

#border {
    border: 4px solid black;
    height: 800px;
    width: 800px;
}

#container {
    display: flex;
    flex-flow: row wrap;
    height: 800px;
    width: 800px;
}

.squares {
    height: 50px;
    width: 50px;
}